exp6/student.xsd

<?xml version="1.0"?>

<xs:schema
xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="student">

<xs:complexType>

<xs:sequence>

<xs:element name="rollno" type="xs:int"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="department" type="xs:string"/>

</xs:sequence>

</xs:complexType>

</xs:element>

</xs:schema>
